@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');

body {
    background-image: url('sky-07.jpg');
    background-size: cover;
    background-position: center;
}

.first {
    font-family: 'Tangerine', cursive;
    margin: auto;
    width: 100%;
    text-align: center;
    font-size: 80px;
    margin-top: 50vh;
    animation-name: first;
    animation-duration: 4s;
    padding-bottom: 50vh;
}


@keyframes first {
    0%   {opacity: 0; filter: blur(4px); font-size: 30px;}
    100% {opacity: 1; filter: blur(0px); font-size: 80px;}
}

.second {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50vh;
}

section {
    width: 100vw;
}

.dis {
    mix-blend-mode: difference;
}

.hit-the-floor {
    color: #fff;
    font-size: 12em;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 
      0 1px 0 #ccc, 
      0 2px 0 #c9c9c9, 
      0 3px 0 #bbb, 
      0 4px 0 #b9b9b9, 
      0 5px 0 #aaa, 
      0 6px 1px rgba(0,0,0,.1), 
      0 0 5px rgba(0,0,0,.1), 
      0 1px 3px rgba(0,0,0,.3), 
      0 3px 5px rgba(0,0,0,.2), 
      0 5px 10px rgba(0,0,0,.25), 
      0 10px 10px rgba(0,0,0,.2), 
      0 20px 20px rgba(0,0,0,.15);
  }
  
  .hit-the-floor {
    text-align: center;
    animation: flash .3s infinite;
  }

  @keyframes flash {
    0%   {color: #fff; transform: rotateZ(-4deg);}
    49%   {color: #fff; transform: rotateZ(-4deg);}
    50% {color: rgba(255, 0, 0, 0); transform: rotateZ(4deg);}
    100% {color: rgba(255, 0, 0, 0); transform: rotateZ(4deg);}
}

.third {
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    color: purple;
    font-size: 40px;
}

@keyframes spin {
    0%   {transform: rotateX(0deg);}
    100%   {transform: rotateY(360deg);}
}

.fourth {
    font-family: 'Ultra', serif;
    color: purple;
    font-size: 120px;
    margin: auto;
    text-align: center;
    animation: spin 1s infinite;
    background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(0, 119, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 300px;
}

@keyframes fifth {
    0%   {    background: -webkit-linear-gradient(rgb(21, 255, 0), rgb(251, 255, 0));}
    50% {    background: -webkit-linear-gradient(rgb(183, 0, 255), rgb(0, 255, 234));}
    100%   {    background: -webkit-linear-gradient(rgb(21, 255, 0), rgb(251, 255, 0));}
}

.fifth {
    font-size: 70px;
    text-align: center;
    animation: fifth 1s infinite;
    height: 400px;
}

.sixth {
    font-family: 'Pinyon Script', cursive;
    font-size: 120px;
}

.sixth span {
    font-family: 'RocknRoll One', sans-serif;

}