@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dancing+Script:wght@500&family=Libre+Baskerville:ital@1&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

@-webkit-keyframes vibrate-2{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}60%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-2{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}40%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}60%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}80%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}
.vibrate-2{-webkit-animation:vibrate-2 .3s linear infinite both;animation:vibrate-2 .3s linear infinite both}


body {
    text-align: center;
}

body:hover {
}

.big {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 50px;
    /* transition: ease-in-out 2s; */
    background-color: red;
    width: 50vw;
    margin: auto;
    border-radius: 100%;
    transition: transform ease-in-out 2s, background-color ease-in-out 2s;


}

.big:hover {
    transform: rotateZ(-360deg);
    background-color: blue;
    cursor: not-allowed;
    /* transform-origin: 50% 0%; */
}

h3 {
    font-family: 'Bangers';
    font-size: 40px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-family: 'Dancing Script';
    font-size: 30px;
}

.oheric {
    font-family: 'Orbitron', sans-serif;
    font-size: 90px;
    background-color: pink;
    display: block;
    margin: auto;
    text-align: center;
    width: 90vw;
    height: 90vw;
    border-radius: 100%;
}

.duhh {
    padding-top: 40vw;
}

.ericdate {
    font-family: 'Girassol', cursive;
    font-size: 100px;
    
}

.uhoh {
    font-family: 'Indie Flower', cursive;
    font-size: 40px;
}


#red {
    color: red;
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#purple {
    color: purple;
}

body {
    background-color: yellow;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes example {
    from {background-color: yellow;}
    to {background-color: rgb(9, 0, 128);}
  }

  .boy {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 90px;      
  }

  .wiredo {
    font-family: 'Dancing Script';
    font-size: 60px;
  }

.r {
    font-family: 'Orbitron', sans-serif;
    font-size: 90px;
}